<div class="footer">
    <div class="footer1">   
        <div class="footer1-line"></div>
        <div class="footer1-icons">
            <img src="../../assets/facebook (1).png" alt="Facebook icon">
            <img src="../../assets/instagram.png" alt="Instagram icon">
            <img src="../../assets/linkedin.png" alt="LinkedIn icon">
            <img src="../../assets/youtube.png" alt="Youtube icon">
            <img src="../../assets/twitter.png" alt="Twitter icon">
            <img src="../../assets/tik-tok.png" alt="Tik Tok icon">
        </div>
        <div class="footer1-lineright"></div>         
    </div>
    <div class="footer2">
        <p><img src="../../assets/news_2537926.png" alt="news icon">News App | Developed by : YASH KALAMKAR</p>
        <p>Copyright © 2024 News.com, Inc.</p>
    </div>
    <div class="footer3">
        <a href="#">Legal Stuff</a> |
        <a href="#">Privacy Policy</a> |
        <a href="#">Security</a> |
        <a href="#">Website Accessibility</a> |
        <a href="#">Manage Cookies</a>
    </div>
</div>
