<div class="news-container">
    <div class="card">
        <div class="card-left">
            <img src="../../assets/news.gif" alt="">
        </div>
        <div class="card-right">
            <h4 class="card-news-title">This Dune-inspired spacesuit turns astronaut's urine into drinking water - India Today</h4>
            <p class="card-news-author name"><span>Author : </span>India Today Science Desk</p>
            <p class="card-news-description"><span>Description : </span>This urine collection and filtration system for spacesuits addresses long-standing issues of comfort hygiene and water conservation during spacewalks</p>
            <p class="card-news-published"><span>Published : </span>Tuesday July 16 2024 </p>
            <p class="card-news-source"><span>Source : </span>India Today</p>
            <button class="read-icon" >READ NEWS<img src="../../assets/read-more.png" alt="read icon"></button>
        </div>
    </div>
    <div class="card">
        <div class="card-left">
            <img src="../../assets/news.gif" alt="">
        </div>
        <div class="card-right">
            <h4 class="card-news-title">This Dune-inspired spacesuit turns astronaut's urine into drinking water - India Today</h4>
            <p class="card-news-author name"><span>Author : </span>India Today Science Desk</p>
            <p class="card-news-description"><span>Description : </span>This urine collection and filtration system for spacesuits addresses long-standing issues of comfort hygiene and water conservation during spacewalks</p>
            <p class="card-news-published"><span>Published : </span>Tuesday July 16 2024 </p>
            <p class="card-news-source"><span>Source : </span>India Today</p>
            <button class="read-icon" >READ NEWS<img src="../../assets/read-more.png" alt="read icon"></button>
        </div>
    </div>
    <div class="card">
        <div class="card-left">
            <img src="../../assets/news.gif" alt="">
        </div>
        <div class="card-right">
            <h4 class="card-news-title">This Dune-inspired spacesuit turns astronaut's urine into drinking water - India Today</h4>
            <p class="card-news-author name"><span>Author : </span>India Today Science Desk</p>
            <p class="card-news-description"><span>Description : </span>This urine collection and filtration system for spacesuits addresses long-standing issues of comfort hygiene and water conservation during spacewalks</p>
            <p class="card-news-published"><span>Published : </span>Tuesday July 16 2024 </p>
            <p class="card-news-source"><span>Source : </span>India Today</p>
            <button class="read-icon" >READ NEWS<img src="../../assets/read-more.png" alt="read icon"></button>
        </div>
    </div>
    <div class="card">
        <div class="card-left">
            <img src="../../assets/news.gif" alt="">
        </div>
        <div class="card-right">
            <h4 class="card-news-title">This Dune-inspired spacesuit turns astronaut's urine into drinking water - India Today</h4>
            <p class="card-news-author name"><span>Author : </span>India Today Science Desk</p>
            <p class="card-news-description"><span>Description : </span>This urine collection and filtration system for spacesuits addresses long-standing issues of comfort hygiene and water conservation during spacewalks</p>
            <p class="card-news-published"><span>Published : </span>Tuesday July 16 2024 </p>
            <p class="card-news-source"><span>Source : </span>India Today</p>
            <button class="read-icon" >READ NEWS<img src="../../assets/read-more.png" alt="read icon"></button>
        </div>
    </div>
    <div class="card">
        <div class="card-left">
            <img src="../../assets/news.gif" alt="">
        </div>
        <div class="card-right">
            <h4 class="card-news-title">This Dune-inspired spacesuit turns astronaut's urine into drinking water - India Today</h4>
            <p class="card-news-author name"><span>Author : </span>India Today Science Desk</p>
            <p class="card-news-description"><span>Description : </span>This urine collection and filtration system for spacesuits addresses long-standing issues of comfort hygiene and water conservation during spacewalks</p>
            <p class="card-news-published"><span>Published : </span>Tuesday July 16 2024 </p>
            <p class="card-news-source"><span>Source : </span>India Today</p>
            <button class="read-icon" >READ NEWS<img src="../../assets/read-more.png" alt="read icon"></button>
        </div>
    </div>
    <div class="card">
        <div class="card-left">
            <img src="../../assets/news.gif" alt="">
        </div>
        <div class="card-right">
            <h5 class="card-news-title">This Dune-inspired spacesuit turns astronaut's urine into drinking water - India Today</h5>
            <p class="card-news-author"><span>Author : </span>India Today Science Desk</p>
            <p class="card-news-description"><span>Description : </span>This urine collection and filtration system for spacesuits addresses long-standing issues of comfort hygiene and water conservation during spacewalks</p>
            <p class="card-news-published"><span>Published : </span>Tuesday July 16 2024 </p>
            <p class="card-news-source"><span>Source : </span>India Today</p>
            <button class="read-icon" >READ NEWS<img src="../../assets/read-more.png" alt="read icon"></button>
        </div>
    </div>
    
    <button class="read-more">LOAD MORE<img src="../../assets/spinner-of-dots.png" alt="read more icon"></button>
</div>